body, table, th, td {
	font-family: Arial, sans-serif;
	font-size: 17px;
	margin: 20px;
}

/*button {
	padding: 6px 14px;
	font-size: 24px;
	background-color: #0ff;
	color: #f00;
	border: none;
	cursor: pointer;
}

button.highlight {
	background-color: olive;
	color: #fff;
}*/

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	pointer-events: none;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
	width: 80px;
}

th {
	background-color: #f2f2f2;
}

td.doy0 {
	background-color: lightyellow;
}

td.doy1 {
	background-color: lightyellow;
}

td.doy2 {
	background-color: #aaffaa;
}

td.doy3 {
	background-color: #aaaaff;
}

button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0 4px #0056b3;
	transition: all 0.2s ease-in-out;
	margin-right: 5px;
}

.push-button:highlight {
	box-shadow: 0 2px #0056b3; /* Shadow reduces on click */
	transform: translateY(2px); /* Button moves down on click */
}

/*button:highlight {
	box-shadow: 0 2px #0056b3;
	transform: translateY(2px);
}*/

button.highlight {
	background-color: #28a745; /* Highlight the active button */
	box-shadow: 0 4px #1e7e34;
}
